body{
    margin: 0;
}

.h1{
    text-align: left;
    width: 40%;
}

hr{ 
    background-color: black;
    height: 2px;
}

.main{
    display: flex;
}

button{
    padding:10px;
    margin: 40px;
    font-size: larger;
    background-color: gray;
}

footer{
    background-color: lightseagreen;
    padding: 50px;
    text-align: center;
    
}
