body{
  margin: 0;
 padding: 0;
 width: 100%;
 height: 100%;
 }

.header{
  display: flex;
  background-color: royalblue;
  justify-content: flex-end;
  align-items: center;
  /* margin-bottom: 100px; */
}

.logo{
  margin-right: auto;
  margin-left: 30px;
  font-size: 40px;
  background-color: black;
  padding: 20px 30px 20px 30px;
  border-radius: 100px;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

a{
  text-decoration: none;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a:hover{
  color: black;
}


.main{
  background-image: url(../image/three-friends-working-on-couch.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border:40px 50px;
  padding:150px 110px;
  margin-top: 15px;
  background-color: antiquewhite;
}
.main-text{
  position: relative;
}

h3{
  margin-bottom: 30px;
  color: black;
  font-weight: bold;
  font-size: 90px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

b{
  font-size: 20px;
}

.list{
  line-height: 60px;
 margin-top: 110px;
 margin-left: 2px;
 font-size: 30px;
 color: darkblue;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

button{
  margin-top: 80px;
  margin-bottom: 90px;
  padding: 20px 30px 20px 30px;
  justify-content: center;
  background-color:#0a100d;
  color: white;
  border-radius: 40px;
  font-size: 30px;
  font-weight: 25px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button:hover{
  color: burlywood;
  cursor: pointer;
}