body{ margin: 0;
 }


header{
padding: 150px 110px; 
height: 60vh;
background-image: url(./image/33.jpg);
background-position:50% 50%;
background-repeat: no-repeat;
background-size:cover;
width:  88%;
border: 40px  50px;
}


.h1{
    text-align: center;
    font-style:inherit;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 110px;
    color: #7f4f24;
}

.p{
    text-align: center;
    margin-top: 450px;
    font-style:oblique;
    font-size: 1.5rem ;
    color:#7f4f24;
    font-weight: bold;
}

.color{
    background-color: beige;
    padding: 60px;
}

.h2{
    text-align: center;
    margin-top: 90px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.text{
    text-align:justify;
    margin-top:80px ;
    font-size: 30px;
    display: inline;
   font-weight:10px ;
   font-family:Georgia, 'Times New Roman', Times, serif;
   line-height: 40px;
   font-style: oblique;
}


.sec{
    margin-top: 90px;
    margin-bottom: 90px;
}
.anotherh2{
    text-align: center;
    margin-top: 90px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container1{
    display: flex;
    border-width: 50%;
    align-items: center;
}

.card { 
box-shadow: 4px 8px 0 rgba(0,0,0,0.2);
width: 20%;
height: 35%;
padding: 9px 9px;
margin: 40px;
border-radius: 5px;
background-color: #6f4518;
display: flex;
}

img{
width:50%;
height: 20%;
padding: 10px;
border-radius: 5px 5px ;
align-items: center;
}



.prod{
    text-align: left;
    font-weight: bold;
}

.card1{
box-shadow: 4px 8px 0 rgba(0,0,0,0.2);
width: 20%;
 height: 50%;
padding: 10px 10px;
margin: 40px;
border-radius: 5px;
background-color: #6f4518;
display: flex;

}
   img{
width:50%;
height: 20%;
padding: 10px;
border-radius: 5px 5px ;
border-image: fill;
   }

   .prod1{
text-align: left;
font-weight: bold;
   }

.card2{
box-shadow: 4px 8px 0 rgba(0,0,0,0.2);
width: 40%;
 height: 100%;
padding: 10px 10px;
margin: 40px;
border-radius: 5px;
background-color: #6f4518;
   }

   .prod2, .prod3{
    text-align:left;
    font-weight: bold;
   }

   .card3{
box-shadow: 4px 8px 0 rgba(0,0,0,0.2);
width: 40%;
height: 100%;
padding: 10px 10px;
margin: 40px;
border-radius: 5px;
background-color: #6f4518;
   }

   button{
    padding:15px;
    margin: 40px;
    background-color: black;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    border-radius: 50px;
    font-weight:bold;

   }
  button:hover{
    color: #6f4518;
    transition-duration: 0.1s;
   }

   footer{
    margin-top: 50px;
    background-color:beige;
    padding: 50px;
    text-align: center;
    font-weight:bold;
    color: #7f4f24;
    
}